* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --color-1: #7000ff;
  --color-2: rgba(255, 213, 0, 0.133);
  --white: white;
  --black: black;
}

button, li,i,a:hover{
cursor: pointer;
}
body {
  background-color: var(--white);
}
.App {
  width: 1250px;
  margin: auto;
}

.tavar {
  gap: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tavars{
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  /* padding: 0px 0px 20px 0px; */
   margin-bottom: 50px;
  /* text-align: center; */
  gap: 1px;
}
.dad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}
.mySwiper {
  margin: 20px;
  overflow: hidden;
  object-fit: cover;
  cursor: pointer;
}
/* ? swiper */
.mySwiper img {
  width: 100%;
  border-radius: 20px;
  height: 430px;
}
/* ? swiper end*/
.swiper_bottom_buttons_bar{
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 50px;
}
.swiper_bottom_buttons_bar > button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: rgb(240, 234, 234);
  height: 70px;
  width: 250px;
  border-radius: 20px;
  color: black;
}
.swiper_bottom_buttons_bar > button > img{
  width: 50px;
  border-radius: 100px;
}
.bachesh {
  border: 1px solid var(--color-2);
}
.tavar img {
  width: 140px;
  height: 150px;
  object-fit: cover;
  object-fit: contain;
}

.tavarDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 7px;
  padding: 15px 10px;
  text-align: start;
  border: 1px solid rgb(169, 167, 167);
  width: 220px;
  transition: all 0.4s ease;
  border-radius: 10px;
  margin-bottom: 25px;
}
.left{
  margin: 10px 2px;
  line-height: 25px;
}
.left > h4{
  background-color: yellow;
  display: inline-block;
  padding: 0px 5px;
  border-radius: 5px;
  color: black;
}
.tavarDiv:hover {
  box-shadow: 1px 1px 10px 1px gray;
  background-color: var(--color-2);
  /* transform: scale(1.07); */
  transform: scale(1.01);
}

.tavarDiv h2 {
  font-size: 20px;
  color: var(--black);
}
/* .tavarDiv h3 {
  font-size: 17px;
  background-color: var(--color-1);
  display: inline;
  color: var(--white);
  padding: 3px;
  border-radius: 5px;
} */
 .linear{
  color: rgb(192, 189, 189);
  text-decoration:line-through;
 }
.tavarDiv p {
  display: inline-block;
  color: var(--black);
  /* border-bottom: 1px solid var(--color-1); */
}
.tavarDiv a {
  width: 100%;
}
.tavarDiv button {
  background-color: transparent;
  color: black;
}

.zindex > svg{
  font-size: 30px;
  color: black;
  font-weight: 100;
  border: 1px solid black;
  border-radius: 50%;
  padding: 2px;
}
.plasminas {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}
.divCadr {
  display: flex;
  align-items: center;
}
.bachesh {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 7px;
  padding: 10px;
  text-align: center;
  border: 1px solid var(--color-1);
  /* width: 200px; */
  transition: all 0.6s ease;
  border-radius: 10px;
  margin-bottom: 100px;
  width: 250px;
}
.bachesh:hover {
  box-shadow: 0px 0px 10px 4px var(--color-1);
  background-color: var(--color-2);
  transform: scale(1.07);
}
.card h2 {
  font-size: 20px;
  color: var(--black);
}
.bachesh h3 {
  font-size: 20px;
  background-color: var(--color-1);
  padding: 5px 10px;
  border-radius: 5px;
  display: inline;
  color: var(--white);
}
.bachesh p {
  display: inline-block;
  color: var(--black);
  border-bottom: 1px solid var(--color-1);
}
.bachesh a {
  width: 100%;
}
.bachesh button, .but {
  border: 1px solid var(--color-1);
  width: 100%;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: var(--color-1);
  color: var(--white);
  font-size: 15px;
  cursor: pointer;
}
.but{
  position: absolute;
  right: 50px;
  width: 100px;
  font-size: 18px;
  font-weight: 600;
  height: 50px;
}


